<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <main>
        	<h2><%= name %></h2>
        	<h3>Birth:</h3><p><%= birth %></p>
        	<h3>Gender:</h3><p><%= gender %></p>
        	<h3>Home:</h3><p><%= home %></p>
        	<h3>Films:</h3><p><%= films %></p>
        </main>
</body>
</html>
